.calculator__top {
    h1 {
        margin-right: auto;
        width: 15%;
        text-align: center;
    }
    .slider__item, .slider__numbers {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
    }
    .slider{
        margin-left: 1.5rem;
        width: 15%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    .slider__item {
        background:$KeypadBg1;
        padding: .2rem;
        border-radius:20px;
    }

    .slider__ball {
        background:$SumBg1;
        width: auto;
        padding: .8rem;
        border-radius: 50%;
        transition:.5s;
     }
}

.calculator__screen {
    background:$ScreenBg1;
    border-radius: 10px;
    .row {
        justify-content:flex-end;
    }
    .container {
        max-height:96px;
    }
    .screen__item {
        font-size: 32px;
        font-weight:700;
        width: 90%;
        padding:1rem;
    }
}

.calculator__bottom {
    border-radius:20px;
    background:$KeypadBg1;
    .row {
        justify-content: center;
    }
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .calculator__buttons {
        width:90%;
        button {
            border:0;
            border-radius:10px;
            box-shadow: 0px 4px 0px 0px $KeyShadow1;
            background:$KeyBg1;
            color:$KeyText1;
            padding:.5em;
            font-size: 32px;
            font-weight:700;
            cursor:pointer;
            &:hover {
                background:$White1;
            }
        }
    }
    #reset, #sum {
        grid-column: span 2;
        color:$White1;
    }

    #reset, #del {
        background:$ResetBg1;
        color:$White1;
        box-shadow: 0px 4px 0px 0px $ResetShadow1;
        text-align: center;
        display:flex;
        justify-content: center;
    }

    #sum {
        background: $SumBg1;
        box-shadow: 0px 4px 0px 0px $SumShadow1;
    }
}